.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  bottom: 80%;
  left: 100%;
  transform: translate(-50%, -50%);
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s;
}
