.userForm {
    display: flex;
    justify-content: space-around;
  
   .img{
      display: flex;
      flex-direction: column;
      align-items: center;
      span{
          padding: 20px;
          cursor: pointer;
          font-weight: bold;
          background-color: rgb(223, 230, 233);
          border: 1px solid rgb(184, 190, 192);
          border-radius: 5px;
  
          &:hover {
              background-color: rgb(18,97,227);
              color: wheat;
              border-radius: 10px;
          }
      }
      .icon{
          width: 150px;
          height: 150px; 
          color: rgb(223, 230, 233);
      }
   }
    form {
      display: flex;
      flex-direction: column;
     
     
      input,
      textarea {
        background-color: rgb(223, 230, 233);
        border: 1px solid rgb(184, 190, 192);
        border-radius: 0px 5px 0px 0px;
        margin: 10px;
      }
      input {
        height: 25px;
      }
      .name {
        width: 1000px;
      }
      .pseudo {
        width: 1000px;
      }
      .firstname {
        width: 1000px;
      }
      .email {
        width: 1000px;
      }
      .password {
        width: 1000px;
      }
      .isAdmin{
        display: block;
      }
      button{
          width: 500px;
        height: 30px;
        margin-top: 30px;
        border: 1px solid rgb(184, 190, 192);
        border-radius: 5px;
        cursor: pointer;
          &:hover {
              background-color: rgba(51, 154, 51, 0.869);
              color: wheat;
              border-radius: 10px;
          }
      }
    }
  }
  