.sidebar{
    display: flex;
    flex-direction: column;
    flex:1;
    border-left: 0.5px solid rgb(220, 74, 74);
    min-height: 100vh;
    background-color: red;

    .top{
        flex: 1;
     
        ul{
            width: 100%;
            list-style: none;
          
        }
        li{
          
           
            cursor: pointer;

            &:hover{
                background-color: rgb(122, 154, 214);
                color: wheat;
                border-radius: 5px;
            }
        }
    }
    .center{


    }
}